#Magfield
PercOn = False
perc_curr_scale = 1.;
NoMoSOn = True
Conductor = NL
Raisin = 0.001
water_dia = 0.0055
fieldmap_step = 0.03
# RxB
RxBconduct = 0.008
RxBlTurns = 5
RxBbTurns = 8
RxBgap = 0.003
NCoils = 39
alpha = 180.
RxBCurrent = 230.
RxBInner = 0.2
FirstLastRxB_scale = 0.9

# Outlet coils
outlet_l = 12
outlet_b = 7
d_outlet = 0.005
n_outlet = 10
outlet_r_shift = -0.05
outlet_x_shift = 0.
outlet_curr_scale = 0.63
outlet_inner = 0.25
# Outlet Corr
n_outletCorr = 2
outletCorr_l = 6
outletCorr_b = 18
d_outletCorr = 0.005
outletCorr_r_shift = -0.05
outletCorr_x_shift = 0.
outletCorr_curr_scale = 0.16
outletCorr_inner_gap = 0.01
outletCorr_fromoutEnd = 0.6

# AF Inlet coils
af_inlet_l = 9
af_inlet_b = 12
d_af_inlet = 0.005
n_af_inlet = 5
af_inlet_curr_scale = 0.33
# BF Inlet coils
bf_inlet_l = 9
bf_inlet_b = 12
d_bf_inlet = 0.005
n_bf_inlet = 7
bf_inlet_curr_scale = 0.33
inlet_dv_coil_scale = 0.15
inlet_dv_coil_start = 1
inlet_dv_offN = 3
# Inlet filter coil
filter_inlet_l = 16
filter_inlet_b = 12
filter_inlet_curr_scale = 1.4
# all Inlet coils
inlet_r_shift = 0.
inlet_x_shift = 0.
inlet_inner = 0.2
# INNER inlet coil
inner_inlet_l = 16
inner_inlet_b = 4
inner_inlet_r_shift = 0.
inner_inlet_x_shift = 0.
inner_inlet_curr_scale = 0.
inner_inlet_inner = 0.159

# helmholtz coils around pumpport
pumpport_distance = 0.23
helm_l = 8
helm_b = 18
helm_r_shift = 0.
helm_x_shift = 0.
helm_inner_gap = 0.01
helm_curr_scale = 1.21
# filter coils 
n_filter = 1
d_filter = 0.005
filter_l = 14
filter_b = 8
filter_r_shift = 0.
filter_x_shift = 0.
filter_inner_gap = 0.01
filter_curr_scale = 1.35
# connector coils
# after gate
gate_to_pump = 0.163
af_connec_l = 9
af_connec_b = 12
af_connec_r_shift = 0.
af_connec_x_shift = 0.
af_connec_curr_scale = 0.34
af_connec_inner = 0.2
af_connec_savedist = 0.055
# before gate
perc_to_gate = 0.157
bf_connec_n = 2
bf_connec_l = 4
bf_connec_b = 14
bf_connec_r_shift = 0.
bf_connec_x_shift = 0.
bf_connec_curr_scale = 0.25
bf_connec_inner = 0.2
bf_connec_savedist = 0.055
gate_dist = 0.073
# PERC Infos
PERClastcoil_to_flansch = 0.215
flansch_perc_thick = 0.03
#Calculation Parameters
coilcenter = True
geo+drift = false
bline = false
fieldmap = false
apertYshift = 0.
horilines = 3
vertilines = 5
ApertX = 0.01
ApertY = 0.1
#
#Trajectory
CompareWBlines = True
thetafix = True
ParticleN = 1
EMIN = 100.
EMAX = 1000.
ESTEP = 900.
thetamax = 10.
thetastep = 10.
phimax = 359.
phistep = 1.
