#Magfield
PercOn = false
perc_global_scale = 1.
perc_sol_scale = 1.
perc_filter_scale = 1.
perc_connec_scale = 1.
PERClastcoil_to_flansch = 0.190
flansch_perc_thick = 0.03
NoMoSOn = True
Conductor = TTSL
particle = p
PCName = Linux
# earth magn field in microTesla, standard values: BN=21.,BE=1,Bvert=42.
earth_BN = 0.
earth_BE = 0.
earth_Bvert = 0.
# for NC part
water_dia = 0.004
conduct_s = 0.006
Raisin = 0.0005
# RxB
RxB_l = 24
RxB_b = 11
d_RxB = 0.004
n_RxB = 35
alpha = 180.
RxBCurrent = 205.
RxBInner = 0.14
FirstRxB_scale = 0.7
LastRxB_scale = 0.5
RxB_second_scale = 1.
# outer RxB
oRxB_on = false
oRxB_l = 4
oRxB_b = 8
oRxB_curr_scale = 1.
oRxBInner = 0.29
R_shift = 0.01
# trans RxB Corr
trans_l = 6
trans_b = 6
trans_r_shift = 0.
trans_curr_scale = 0.
trans_inner = 0.32
trans_angle = 6.

# Outlet coils
outlet_l = 40
outlet_b = 8
d_outlet = 0.0014
n_outlet = 14
outlet_r_shift = -0.01
outlet_x_shift = 0.
outlet_curr_scale = 0.85
outlet_inner = 0.16
outlet_first_scale = 0.85
outlet_screw_gap = 0.0014
# Outlet Corr
n_outletCorr = 7
outletCorr_l = 8
outletCorr_b = 3
d_outletCorr = 0.12
outletCorr_r_shift = -0.01
outletCorr_x_shift = 0.
outletCorr_curr_scale = 1.
outletCorr_inner_gap = 0.01
outletCorr_fromoutEnd = 0.0
# Exit Corr
exit_l = 10
exit_b = 14
exit_r_shift = 0.
exit_x_shift = 0.
exit_curr_scale = 1.
exit_inner = 0.21
exit_angle = 3.
exit_z_shift = -0.01

# AF Inlet coils
af_inlet_l = 30
af_inlet_b = 7
d_af_inlet = 0.0014
n_af_inlet = 18
af_inlet_curr_scale = 1.
inlet_last_scale = 0.85
af_screw_gap = 0.0014
# BF Inlet coils
bf_inlet_l = 30
bf_inlet_b = 7
d_bf_inlet = 0.0014
n_bf_inlet = 10
bf_inlet_curr_scale = 1.
inlet_dv_coil_scale = 0.55
inlet_dv_coil_start = 1
inlet_dv_offN = 3
bf_screw_gap = 0.0014
# Inlet filter coil
filter_inlet_l = 30
filter_inlet_b = 7
filter_inlet_curr_scale = 1.
# all Inlet coils
inlet_r_shift = 0.
inlet_x_shift = 0.
inlet_inner = 0.14
# Enter Corr
enter_l = 10
enter_b = 14
enter_r_shift = 0.
enter_x_shift = 0.
enter_curr_scale = 0.8
enter_inner = 0.21
enter_angle = -5.
enter_z_shift = -0.02

# helmholtz coils around pumpport
#cryo_dist = 0.19
helm1_bf_gap = 0.07
helm1_l = 12
helm1_b = 85
helm_r_shift = 0.
helm_x_shift = 0.
helm1_inner = 0.25
helm1_curr_scale = 1.44
# helm 2
helm2_l = 12
helm2_b = 85
helm2_inner = 0.25
helm2_curr_scale = 0.8
# filter coils 
n_filter = 2
d_filter = 0.15
filter_l = 24
filter_b = 40
filter_r_shift = 0.
filter_x_shift = 0.
filter_inner_gap = 0.01
filter_curr_scale = 1.35
filter_z_shift = 0.

# new connector coils
NC_Curr = 190.
pumpport_dist = 0.12
screw_dist = 0.15
# Gate Cryo Connector
gc_connec_l = 10
gc_connec_b = 30
gc_connec_r_shift = 0.
gc_connec_x_shift = 0.
gc_connec_curr_scale = 0.7
gc_connec_inner = 0.14
gate_dist = 0.05
# Pre Gate Connector
pg_connec_l = 10
pg_connec_b = 30
pg_connec_r_shift = 0.
pg_connec_x_shift = 0.
pg_connec_curr_scale = 1.
pg_connec_inner = 0.14
pipe_dist = 0.03
# Pre Pipe Connector
pp_connec_l = 10
pp_connec_b = 30
pp_connec_r_shift = 0.
pp_connec_x_shift = 0.
pp_connec_curr_scale = 1.
pp_connec_inner = 0.14
#
#
#Calculation Parameters
coilcenter = false
geo+drift = false
bline = false
startinPERC = false
boolManualStartZ = false
manualStartZ = -2
fieldmap = false
fieldmap_step = 0.015
apertYshift = 0.
apertXshift = 0.
onlyCornerCenter = True
horilines = 3
vertilines = 3
ApertX = 0.02
ApertY = 0.05
detpos = -0.45
#
#Trajectory
MonteCarloData = False
CompareWBlines = True
G4Compare = False
PointSource = false
Envelope = false
ClusterMC = false
thetafix = True
ParticleN = 1
PMIN = 198.5
PMAX = 1186
PSTEP = 493.75
thetamin = 0.
thetamax = 40.
thetastep = 20.
phimax = 180.
phistep = 180.
