#Magfield
PercOn = True
perc_global_scale = 1.
perc_sol_scale = 1.
perc_filter_scale = 1.
PERClastcoil_to_flansch = 0.190
flansch_perc_thick = 0.03
NoMoSOn = True
Conductor = TTSL
particle = e
# for NC part
water_dia = 0.004
conduct_s = 0.006
Raisin = 0.0005
# RxB
RxB_l = 23
RxB_b = 11
d_RxB = 0.004
n_RxB = 39
alpha = 180.
RxBCurrent = 210.
RxBInner = 0.235
FirstLastRxB_scale = 1.
RxB_second_scale = 1.

# Outlet coils
outlet_l = 58
outlet_b = 6
d_outlet = 0.0014
n_outlet = 11
outlet_r_shift = -0.04
outlet_x_shift = 0.
outlet_curr_scale = 1.
outlet_inner = 0.25
# Outlet Corr
n_outletCorr = 3
outletCorr_l = 12
outletCorr_b = 3
d_outletCorr = 0.0014
outletCorr_r_shift = -0.04
outletCorr_x_shift = 0.
outletCorr_curr_scale = 1.
outletCorr_inner_gap = 0.01
outletCorr_fromoutEnd = 0.5
# Exit Corr
exit_l = 24
exit_b = 8
exit_r_shift = 0.
exit_x_shift = 0.
exit_curr_scale = 1.
exit_inner = 0.31
exit_angle = 3.
exit_z_shift = 0.08

# AF Inlet coils
af_inlet_l = 31
af_inlet_b = 8
d_af_inlet = 0.0014
n_af_inlet = 10
af_inlet_curr_scale = 0.81
# BF Inlet coils
bf_inlet_l = 31
bf_inlet_b = 8
d_bf_inlet = 0.0014
n_bf_inlet = 10
bf_inlet_curr_scale = 0.81
inlet_dv_coil_scale = 0.81
inlet_dv_coil_start = 1
inlet_dv_offN = 1
# Inlet filter coil
filter_inlet_l = 31
filter_inlet_b = 8
filter_inlet_curr_scale = 0.81
# all Inlet coils
inlet_r_shift = 0.
inlet_x_shift = 0.
inlet_inner = 0.22
# Enter Corr
enter_l = 12
enter_b = 10
enter_r_shift = 0.
enter_x_shift = 0.
enter_curr_scale = 1.
enter_inner = 0.28
enter_angle = -5.
enter_z_shift = -0.02

# helmholtz coils around pumpport
cryo_dist = 0.19
helm1_l = 14
helm1_b = 68
helm_r_shift = 0.
helm_x_shift = 0.
helm1_inner_gap = 0.01
helm1_curr_scale = 0.5
# helm 2
helm2_l = 22
helm2_b = 42
helm2_inner = 0.16
helm2_curr_scale = 1.
# filter coils 
n_filter = 1
d_filter = 0.0014
filter_l = 28
filter_b = 60
filter_r_shift = 0.
filter_x_shift = 0.
filter_inner_gap = 0.01
filter_curr_scale = 0.

# new connector coils
NC_Curr = 215.
pumpport_distance = 0.2
# Gate Cryo Connector
gc_connec_l = 22
gc_connec_b = 32
gc_connec_r_shift = 0.
gc_connec_x_shift = 0.
gc_connec_curr_scale = 1.
gc_connec_inner = 0.16
screw_dist = 0.05
gate_dist = 0.1
# Pre Gate Connector
pg_connec_l = 22
pg_connec_b = 25
pg_connec_r_shift = 0.
pg_connec_x_shift = 0.
pg_connec_curr_scale = 1.
pg_connec_inner = 0.16
pipe_dist = 0.05
# Pre Pipe Connector
pp_connec_l = 22
pp_connec_b = 25
pp_connec_r_shift = 0.
pp_connec_x_shift = 0.
pp_connec_curr_scale = 1.
pp_connec_inner = 0.16
#
#
#Calculation Parameters
coilcenter = True
geo+drift = false
bline = false
fieldmap = false
fieldmap_step = 0.015
apertYshift = 0.
apertXshift = 0.
horilines = 2
vertilines = 2
ApertX = 0.01
ApertY = 0.1
detpos = -0.5
#
#Trajectory
MonteCarloData = False
CompareWBlines = True
G4Compare = False
thetafix = True
ParticleN = 1
EMIN = 100.
EMAX = 751
ESTEP = 651.
thetamax = 20.
thetastep = 20.
phimax = 180.
phistep = 180.
