#Magfield
PercOn = False
perc_curr_scale = 1.;
NoMoSOn = True
Conductor = NL
Raisin = 0.001
water_dia = 0.0055
fieldmap_step = 0.03
# RxB
RxBconduct = 0.008
RxBlTurns = 5
RxBbTurns = 8
RxBgap = 0.003
NCoils = 39
alpha = 180.
RxBCurrent = 230.
RxBInner = 0.2
# Outlet coils
outlet_l = 11
outlet_b = 9
d_outlet = 0.005
n_outlet = 8
outlet_r_shift = 0.
outlet_x_shift = 0.
outlet_curr_scale = 0.55
outlet_inner = 0.2
# Inlet coils
inlet_l = 11
inlet_b = 9
d_inlet = 0.005
n_inlet = 8
inlet_r_shift = 0.
inlet_x_shift = 0.
inlet_curr_scale = 0.55
inlet_inner = 0.2
# helmholtz coils around pumpport
pumpport_distance = 0.23
helm_l = 9
helm_b = 10
helm_r_shift = 0.
helm_x_shift = 0.
helm_inner_gap = 0.01
helm_curr_scale = 1.3
# filter coils 
n_filter = 2
helm_to_filter = 0.20
d_filter = 0.005
filter_l = 15
filter_b = 10
filter_r_shift = 0.
filter_x_shift = 0.
filter_inner_gap = 0.01
filter_curr_scale = 0.
# connector coils
# after gate
gate_to_pump = 0.163
af_connec_l = 9
af_connec_b = 15
af_connec_r_shift = 0.
af_connec_x_shift = 0.
af_connec_curr_scale = 0.5
af_connec_inner = 0.15
af_connec_savedist = 0.055
# before gate
perc_to_gate = 0.157
bf_connec_n = 2
bf_connec_l = 4
bf_connec_b = 15
bf_connec_r_shift = 0.
bf_connec_x_shift = 0.
bf_connec_curr_scale = 0.3
bf_connec_inner = 0.15
bf_connec_savedist = 0.055
gate_dist = 0.073
# PERC Infos
PERClastcoil_to_flansch = 0.215
flansch_perc_thick = 0.03
#Calculation Parameters
coilcenter = True
geo+drift = True
bline = True
fieldmap = false
blineStartZ = -0.5
#
#Trajectory
